@media (max-width:500px) {
    .product-card {
        grid: "image" "info";
        width: 89%;
        height: 100%;
    }

    .product-card .product-info {
        padding: 25px 30px;
        gap: 15px;
    }

    .product-card .product-info h1 {
        font-family: 'Fraunces', serif;
        color: hsl(212, 21%, 14%);
        font-size: 28px;
        line-height: 28px;
    }

    .product-card .product-info h3,
    .product-card .product-info p {
        font-size: 13px;
    }

    .product-card .product-info .price p:first-child{
        font-size: 29px;
    }

    .product-card .product-info a img{
        height: 15px;
    }
    
    .product-card .product-info a {
        padding: 12px;
        font-size: 13px;
    }
}